
/*  =====================    Google Fonts Link  =====================    */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*#region   =======================  Pre-Defined Values ==================== */

:root{

    /* =============    Colors  =============== */
    --bg-color: rgba(31, 33, 38, 1);
    --white-color: rgba(255, 255, 255, 1);
    --color-1: rgba(101, 200, 208, 1);
    --color-2: rgba(200, 155, 201, 1);
    --color-3: rgba(121, 160, 201, 1);
    --color-4: rgba(131, 139, 197, 1);
    --text-color: rgba(45, 45, 45, 1);

    /* =============    Gradients  =============== */
    --card-gradient: linear-gradient(134.37deg, #65C8D0 -85.13%, #C89BC9 21.78%, #79A0C9 95.64%, #838BC5 95.64%);
    --pyramid-gradient: linear-gradient(89.78deg, #C89BC9 0.85%, #838BC5 49.4%, #65C8D0 100.02%);
    --rectangle-gradient: linear-gradient(99.73deg, #838BC5 0.73%, #C89BC9 50.8%, #65C8D0 98.82%);
    --button-gradient: linear-gradient(90deg, #C89BC9 2.15%, #838BC5 49.04%, #65C8D0 100%);
    
    
    /* =============    Font Sizes  =============== */
    --h1-font-size: 7rem;
    --h3-font-size: 3rem;
    --medium-font-size: 2rem;
    --mediocre-font-size: 1.5rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.8rem;
    
    
    /* =============    Transitions  =============== */
    --transition-1: all 300ms ease;



}

/*#endregion  */






/*#region   =======================    General Classes    ====================== */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white-color);
}

img{
    width: 100%;
}

/*#endregion  */






/*#region   =======================    Reusable Classes    ====================== */

.bg_random_images{
    width: 15%;
    position: absolute;
    z-index: -99;
    fliter: blur(1.7px);
    -webkit-filter: blur(1.7px);
}

.section_second_heading{
    font-size: var(--h3-font-size);
    color: var(--white-color);
    text-align: center;
}

.section{
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*#endregion  */






/*#region   =======================    Header    ====================== */

header{
    z-index: 100;
    padding: 1rem 6rem;
    height: 7.5rem;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo_div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo_image{
    width: 100%;
}

nav ul{
    width: 60%;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-size: var(--mediocre-font-size);
}

nav ul a{
    transition: var(--transition-1);
}

nav ul li.active{
    font-weight: 700;
}

nav ul li.active:hover a{
    text-shadow: none;
}

nav ul a:hover,
nav ul a:hover p
{
    text-shadow: 0 0 3px var(--white-color);
}

.hire_div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hire_div a{
    padding: 1.1rem 2.5rem;
    border-radius: 0.5rem;
    background: var(--button-gradient);
    transition: var(--transition-1);
}

.hire_div a:hover{
    transform: scale(0.95);
}

.hire_div a p{
    font-size: var(--mediocre-font-size);
}

/*#endregion  */






/*#region   =======================    Hero Section    ====================== */

.hero{
    height: 120vh;
    width: 100%;
    padding: 13rem 0 1rem;
    color: var(--white-color);
    position: relative;
}
 
.hero__section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hero__img{
    width: 30%;
}

.hero__logo{
    width: 30%;
}

.hero__start_text,
.hero__mid_text{
    font-size: var(--medium-font-size);
}

#hero_circle{
    transform: scaleX(-1) rotate(60deg);
    top: 2rem;
    left: 35%;
}

#hero_cone{
    transform: scaleX(-1) rotate(-45deg);
    top: -3rem;
    left: 29%;
}

#hero_cylinder{
    transform: scaleX(-1) rotate(30deg);
    bottom: 15rem;
    left: 15%;
}

#hero_ring{
    transform: rotate(3deg);
    top: 30%;
    left: 0;
    width: 15%;
}

#hero_round{
    right: 12%;
    top: 25%;
    width: 15%;
}

#hero_spiral{
    top: 6%;
    right: 28%;
}

#hero_comp{
    bottom: 16%;
    right: 8%;
}


/*#endregion  */





/*#region   =======================    Top section    ====================== */

.badge_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Backgrounds/Our\ Team\ Bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cards{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.cards .card{
    width: 30%;
    height: 20rem;
    background-color: var(--white-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.7rem;
    border-radius: 0.5rem;
}

.card__icon{
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    width: 100%;
    background: var(--rectangle-gradient);
}

.cards img{
    width: 40%;
    height: 100%;
}

.card__title{
    font-size: var(--small-font-size);
}

.card__description{
    width: 100%;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--text-color);
}

.card__link{
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

#blog__img{
    width: 33%;
}

/*#endregion  */





/*#region   =======================    Expertise Section    ====================== */
.expertise__section{
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.expertise__section .card{
    height: 25rem;
    justify-content: space-between;
    align-items: center;
}

.upper_card_wrapper{
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.expertise__section .card__title,
.expertise__section .card__description{
    text-align: center;
}

.card__button{
    padding: 1rem;
    background: var(--button-gradient);
    width: 100%;
    text-align: center;
    border-radius: inherit;
    font-weight: 700;
    cursor: pointer;
}

#web_app_card_icon img{
    width: 63%;
}

#cloud_card_icon img{
    width: 53%;
}

.extra__button{
    border-radius: 0.7rem;
    width: 20%;
    padding: 0.3rem;
    background: var(--button-gradient);
    cursor: pointer;
}

.extra__button p{
    border-radius: inherit;
    padding: 1rem;
    text-align: center;
    background-color: var(--white-color);
    color: var(--text-color);
    font-weight: 700;
    font-size: var(--mediocre-font-size);
}



/*#endregion  */





/*#region   =======================    Benefit Section    ====================== */

.benefit__section{
    padding-top: 3rem;
    width: 100%;
    position: relative;
}

.benefit__content{
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.benefit__content h1{
    width: 20%;
    font-size: var(--h1-font-size);
    color: var(--white-color);
    line-height: 8rem;
}

.benefit__content img{
    width: 10%;
}

.benefit__content #character__img{
    margin-left: 6rem;
    width: 30%;
    transform: scaleX(-1);
    position: relative;
    bottom: 0;
}

.benefit__content #pyramid__img{
    width: 40%;
}

.benefit__section .hero_cone{
    top: 10%;
    left: 5%;
}

.benefit__section .hero_ring{
    bottom: 1rem;
    left: 9rem;
} 

.benefit__section .hero_cylinder
{
    transform: rotate(-45deg);
    bottom: 10%;
    left: 34%;
}

.benefit__section .hero_spiral{
    right: 25%;
    top: 20%;
}

.benefit__section .hero_round{
    right: 5%;
    top: 25%;
}

.benefit__section .hero_comp{
    bottom: 2rem;
    right: 0;
}

/*#endregion  */





/*#region   =======================    Reusable Classes    ====================== */



/*#endregion  */