
/*  =====================    Google Fonts Link  =====================    */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*#region   =======================  Pre-Defined Values ==================== */

:root{

    /* =============    Colors  =============== */
    --bg-color: rgba(31, 33, 38, 1);
    --white-color: rgba(255, 255, 255, 1);
    --color-1: rgba(101, 200, 208, 1);
    --color-2: rgba(200, 155, 201, 1);
    --color-3: rgba(121, 160, 201, 1);
    --color-4: rgba(131, 139, 197, 1);
    --text-color: rgba(45, 45, 45, 1);

    /* =============    Gradients  =============== */
    --card-gradient: linear-gradient(134.37deg, #65C8D0 -85.13%, #C89BC9 21.78%, #79A0C9 95.64%, #838BC5 95.64%);
    --pyramid-gradient: linear-gradient(89.78deg, #C89BC9 0.85%, #838BC5 49.4%, #65C8D0 100.02%);
    --rectangle-gradient: linear-gradient(99.73deg, #838BC5 0.73%, #C89BC9 50.8%, #65C8D0 98.82%);
    --button-gradient: linear-gradient(90deg, #C89BC9 2.15%, #838BC5 49.04%, #65C8D0 100%);


    
    
    /* =============    Font Sizes  =============== */
    --h1-font-size: 7rem;
    --h2-font-size: 4rem;
    --h3-font-size: 3rem;
    --h4-font-size: 2.5rem;
    --medium-font-size: 2rem;
    --mediocre-font-size: 1.5rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.8rem;
    
    
    /* =============    Transitions  =============== */
    --transition-1: all 300ms ease;



}

/*#endregion  */






/*#region   =======================    General Classes    ====================== */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white-color);
}

img{
    width: 100%;
}

/*#endregion  */






/*#region   =======================    Reusable Classes    ====================== */

.bg_random_images{
    width: 15%;
    position: absolute;
    z-index: -99;
    fliter: blur(1.7px);
    -webkit-filter: blur(1.7px);
}

.section_second_heading{
    font-size: var(--h3-font-size);
    color: var(--white-color);
    text-align: center;
}

.section{
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_subtitle{
    color: var(--white-color);
    font-size: var(--h4-font-size);
    margin-bottom: 1rem;
}

.section_title{
    color: var(--white-color);
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
}

.section__description{
    color: var(--text-color);
    font-weight: 500;
    font-size: var(--mediocre-font-size);

}

/*#endregion  */






/*#region   =======================    Header    ====================== */

header{
    z-index: 100;
    padding: 1rem 6rem;
    height: 7.5rem;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo_div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo_image{
    width: 100%;
}

nav ul{
    width: 60%;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-size: var(--mediocre-font-size);
}

nav ul a{
    transition: var(--transition-1);
}

nav ul li.active{
    font-weight: 700;
}

nav ul li.active:hover a{
    text-shadow: none;
}

nav ul a:hover,
nav ul a:hover p
{
    text-shadow: 0 0 3px var(--white-color);
}

.hire_div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hire_div a{
    padding: 1.1rem 2.5rem;
    border-radius: 0.5rem;
    background: var(--button-gradient);
    transition: var(--transition-1);
}

.hire_div a:hover{
    transform: scale(0.95);
}

.hire_div a p{
    font-size: var(--mediocre-font-size);
}

/*#endregion  */






/*#region   =======================    Hero Section    ====================== */

.hero{
    height: 120vh;
    width: 100%;
    padding: 13rem 0 1rem;
    color: var(--white-color);
    position: relative;
}
 
.hero__section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hero__img{
    width: 30%;
}

.hero__logo{
    width: 30%;
}

.hero__start_text,
.hero__mid_text{
    font-size: var(--medium-font-size);
}

#hero_circle{
    transform: scaleX(-1) rotate(60deg);
    top: 2rem;
    left: 35%;
}

#hero_cone{
    transform: scaleX(-1) rotate(-45deg);
    top: -3rem;
    left: 29%;
}

#hero_cylinder{
    transform: scaleX(-1) rotate(30deg);
    bottom: 15rem;
    left: 15%;
}

#hero_ring{
    transform: rotate(3deg);
    top: 30%;
    left: 0;
    width: 15%;
}

#hero_round{
    right: 12%;
    top: 25%;
    width: 15%;
}

#hero_spiral{
    top: 6%;
    right: 28%;
}

#hero_comp{
    bottom: 16%;
    right: 8%;
}


/*#endregion  */





/*#region   =======================    Top section    ====================== */

.badge_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Backgrounds/Our\ Team\ Bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cards{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.cards .card{
    width: 30%;
    height: 20rem;
    background-color: var(--white-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.7rem;
    border-radius: 0.5rem;
}

.card__icon{
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    width: 100%;
    background: var(--rectangle-gradient);
}

.cards img{
    width: 40%;
    height: 100%;
}

.card__title{
    font-size: var(--small-font-size);
}

.card__description{
    width: 100%;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--text-color);
}

.card__link{
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

#blog__img{
    width: 33%;
}

/*#endregion  */





/*#region   =======================    Expertise Section    ====================== */
.expertise__section{
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.expertise__section .card{
    height: 25rem;
    justify-content: space-between;
    align-items: center;
}

.upper_card_wrapper{
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.expertise__section .card__title,
.expertise__section .card__description{
    text-align: center;
}

.card__button{
    padding: 1rem;
    background: var(--button-gradient);
    width: 100%;
    text-align: center;
    border-radius: inherit;
    font-weight: 700;
    cursor: pointer;
}

#web_app_card_icon img{
    width: 63%;
}

#cloud_card_icon img{
    width: 53%;
}

.extra__button{
    border-radius: 0.7rem;
    width: 20%;
    padding: 0.3rem;
    background: var(--button-gradient);
    cursor: pointer;
}

.extra__button p{
    border-radius: inherit;
    padding: 1rem;
    text-align: center;
    background-color: var(--white-color);
    color: var(--text-color);
    font-weight: 700;
    font-size: var(--mediocre-font-size);
}



/*#endregion  */





/*#region   =======================    Benefit Section    ====================== */

.benefit__section{
    padding-top: 3rem;
    width: 100%;
    position: relative;
}

.benefit__content{
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.benefit__content h1{
    width: 20%;
    font-size: var(--h1-font-size);
    color: var(--white-color);
    line-height: 8rem;
}

.benefit__content img{
    width: 10%;
}

.benefit__content #character__img{
    margin-left: 6rem;
    width: 30%;
    transform: scaleX(-1);
    position: relative;
    bottom: 0;
}

.benefit__content #pyramid__img{
    width: 40%;
}

.benefit__section .hero_cone{
    top: 10%;
    left: 5%;
}

.benefit__section .hero_ring{
    bottom: 1rem;
    left: 9rem;
} 

.benefit__section .hero_cylinder
{
    transform: rotate(-45deg);
    bottom: 10%;
    left: 34%;
}

.benefit__section .hero_spiral{
    right: 25%;
    top: 20%;
}

.benefit__section .hero_round{
    right: 5%;
    top: 25%;
}

.benefit__section .hero_comp{
    bottom: 2rem;
    right: 0;
}

/*#endregion  */





/*#region   =======================    Future of IT    ====================== */

.future_of_it_section{
    width: 100%;
}

.future_of_it_section .container {
    width: 100%;
    position: relative;
    background: #aad5f6;
}
.future_of_it_section .slide-1 {
    background: url('../assets/Future\ of\ IT/Image 1.jpg');
}
.future_of_it_section .slide-2 {
    background: url('../assets/Future\ of\ IT/Image 2.jpg');
}
.future_of_it_section .slide-3 {
    background: url('../assets/Future\ of\ IT/Image 3.jpg');
}

.future_of_it_section .slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.future_of_it_section .caption {
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 0px;
}
.future_of_it_section .caption h3 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding: 18px;
    width: 50%;
    margin: auto;
}

.future_of_it_section .caption .aa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.future_of_it_section .caption a {
    max-width: 600px;
    /* width: 20%; */
    margin: 0px auto;
    color: #ccc;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    border: 6px solid white;
    padding: 1rem 2rem;
    font-size: var(--mediocre-font-size);
}
.future_of_it_section .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    transform: background 500ms;
}
.future_of_it_section .arrow img {
    width: 50px;
}
.future_of_it_section .arrow:hover {
    background: rgba(0, 0, 0, .4);
}
.future_of_it_section .l {
    left: 0;
}
.future_of_it_section .r {
    right: 0;
}

/*#endregion  */





/*#region   =======================    Core Capabilities    ====================== */

.core_capabilities_section{
    background-color: #C89BC9;
    background-image: url("../assets/Backgrounds/Core\ Capabilities\ BG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.left_core{
    width: 50%;
    background-color: var(--white-color);
    border-radius: 1rem;
}

.core_img_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: inherit;
}

.core_img_container img{
    width: 100%;
    border-radius: inherit;
    margin-bottom: 2rem;
}

.core_img_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 1rem;
}

.bullet{
    width: 1.8rem;
    height: 1rem;
    border-radius: 3rem;
    background-color: rgb(185, 185, 185);
    cursor: pointer;
}

.bullet.active{
    background: var(--rectangle-gradient);
}

.right_core{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

/*#endregion  */






/*#region   =======================    Clients Section    ====================== */

.client__section{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    position: relative;
}

.clients__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    width: 20%;
}

.client_image_wrapper{
    width: 80%;
}

.rating_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

.rating_wrapper .star{
    font-size: var(--h4-font-size);
    background: var(--card-gradient);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.client__wrapper.active .client_image_wrapper{
    width: 100%;
}

.client__section .hero_comp{
    top: 10rem;
    left: 20%;
}

.client__section .hero_cylinder{
    bottom: 5rem;
    left: 4rem;
    transform: rotate(-50deg);
}

.client__section .hero_cv{
    top: 5rem;
    right: 15%;
}

.client__section .hero_ring{
    bottom: 2rem;
    right: 3rem;
}



/*#endregion  */





/*#region   =======================    Our Team    ====================== */

.team__section{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.team_entity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:  0 12rem;
    gap: 4rem;
}

.team__elements{
    margin-top: 8rem;
    background-color: #C89BC9;
    background: url("../assets/Backgrounds/Our\ Team\ Bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.team__elements img{
    width: 30%;
    margin-top: -11.4rem;
}

.team__elements img:first-child{
    margin-top: -7.8rem;
  margin-left: -1.5rem;
}


.team__elements img:nth-child(2){
    margin-top: -7.5rem;
    width: 26%;
    margin-left: 1.5rem;
  }
  
  .team__elements img:nth-child(3){
    margin-top: -7.5rem;
    width: 34%;
    margin-left: 2.5rem;
}

.team__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--white-color);
}

.member__name{
    font-size: var(--medium-font-size);
}

.rank{font-size: var(--mediocre-font-size);}

.team__socials{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: var(--mediocre-font-size);
    cursor: pointer;
}

/*#endregion  */





/*#region   =======================    Touch Section    ====================== */

.touch__section{
    padding-top: 6rem;
    padding-bottom: 5rem;
    background: var(--rectangle-gradient);
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 2rem;
    display: flex;
    gap: 10%;
    position: relative;
}

.touch__section img{
    width: 30%;
    transform: scaleX(-1);
}

.touch__form__container{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.touch__section .section_second_heading{
    text-align: left;
}

.touch__form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.2rem;
}

.touch__form input,
.touch__form textarea
{
    padding: 1.5rem 1rem;
    color: var(--white-color);
    font-size: var(--mediocre-font-size);
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.3);
    border-radius: 1rem 1rem 0 0;
    border-bottom: 8px solid white;
}

.touch__form input::placeholder,
.touch__form textarea::placeholder{
    color: var(--white-color);
}

.touch__form textarea{
    font-family: inherit;
    font-weight: 500;
    height: 16rem;
    resize: none;
}

.touch__form button{
    width: 100%;
    text-align: center;
    font-size: var(--mediocre-font-size);
    padding: 1.5rem 1rem ;
    background-color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 1rem;
}

.touch__section .hero_circle{
    top: -10rem;
    left: 25%;
    transform: rotate(-35deg);
    width: 20%;
}

.touch__section .hero_ring{
    bottom: -6rem;
    left: 0;
    transform: rotate(-5deg);
    width: 20%;
}

/*#endregion  */





/*#region   =======================    Footer    ====================== */

.footer{
    margin-top: 8rem;
    background: var(--card-gradient);
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.upper__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.upper__footer .line{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.3rem;
}

.upper__footer .line a,
.upper__footer .line p{
    color: var(--white-color);
    font-size: var(--medium-font-size);
}

.lower__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__socials{
    gap: 2rem;
    color: var(--white-color);
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.lower__footer hr{
    color: var(--white-color);
    background-color: var(--white-color);
    width: 75%;
    height: 0.2rem;
    margin-bottom: 1rem;
}

.lower__footer p{
    color: var(--white-color);
    font-size: var(--medium-font-size);
}

/*#endregion  */





/*#region   =======================    About Hero    ====================== */


  .about__hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .slider-one,
  .slider-two,
  .slider-three,
  .slider-four {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: slider-one 12s linear infinite;
            animation: slider-one 12s linear infinite;
  }
  
  .slider-one .slider-one-image,
  .slider-one .slider-two-image,
  .slider-one .slider-three-image,
  .slider-one .slider-four-image,
  .slider-two .slider-one-image,
  .slider-two .slider-two-image,
  .slider-two .slider-three-image,
  .slider-two .slider-four-image{
    width: 110%;
    height: 100%;
    background-image: url("../assets/Mission\ and\ Vision\ Images/Our Mission - Image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: zoom-out 3s linear infinite;
            animation: zoom-out 3s linear infinite;
  }
  
  .slider-one .slider-one-image .slider-text,
  .slider-one .slider-two-image .slider-text,
  .slider-one .slider-three-image .slider-text,
  .slider-one .slider-four-image .slider-text,
  .slider-two .slider-one-image .slider-text,
  .slider-two .slider-two-image .slider-text,
  .slider-two .slider-three-image .slider-text,
  .slider-two .slider-four-image .slider-text{
    position: absolute;
    top: 40%;
    left: 5%;
    color: #ffffff;
    width: 600px;
    text-transform: capitalize;
    -webkit-animation: text-up 12s linear infinite;
            animation: text-up 12s linear infinite;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  
  .slider-one .slider-one-image .slider-text h1,
  .slider-one .slider-two-image .slider-text h1,
  .slider-one .slider-three-image .slider-text h1,
  .slider-one .slider-four-image .slider-text h1,
  .slider-two .slider-one-image .slider-text h1,
  .slider-two .slider-two-image .slider-text h1,
  .slider-two .slider-three-image .slider-text h1,
  .slider-two .slider-four-image .slider-text h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .slider-one .slider-one-image .slider-text p,
  .slider-one .slider-two-image .slider-text p,
  .slider-one .slider-three-image .slider-text p,
  .slider-one .slider-four-image .slider-text p,
  .slider-two .slider-one-image .slider-text p,
  .slider-two .slider-two-image .slider-text p,
  .slider-two .slider-three-image .slider-text p,
  .slider-two .slider-four-image .slider-text p{
    font-size: 18px;
    line-height: 28px;
  }
  
  .slider-two {
    -webkit-animation: slider-two 12s linear infinite;
            animation: slider-two 12s linear infinite;
  }
  
  .slider-two .slider-two-image {
    background-image: url("../assets/Mission\ and\ Vision\ Images/Our Vision - Image.jpg");
  }
  
  .slider-two .slider-two-image .slider-text {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }

  
  @-webkit-keyframes text-up {
    10% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @keyframes text-up {
    10% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @-webkit-keyframes zoom-out {
    100% {
      width: 100%;
    }
  }
  
  @keyframes zoom-out {
    100% {
      width: 100%;
    }
  }
  
  @-webkit-keyframes slider-one {
    0% {
      visibility: visible;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes slider-one {
    0% {
      visibility: visible;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  @-webkit-keyframes slider-two {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: visible;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
    }
  }
  
  @keyframes slider-two {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: visible;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
    }
  }
  

/*#endregion  */





/*#region   =======================    About Expertise Classes    ====================== */

.next_sec{
    width: 100%;
    height: 100vh;
    position: relative;
}

.center_cards{
    justify-content: center;
}

.expertise__section{
    position: relative;
}

.expertise__section .hero_comp{
    bottom: 30%;
    right: 4%;
}

.expertise__section .hero_cylinder{
    bottom: 40%;
    left: 15%;
    transform: rotate(35deg);
}

.expertise__section .hero_cv{
    top: 5rem;
    right: 3%;
}

.expertise__section .hero_ring{
    left: -1rem;
    top: 20%;
}

/*#endregion  */





/*#region   =======================    About Culture Classes    ====================== */

.culture__section{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cultures{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.culture{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    width: 100%;

}

.culture__img{
    width: 50%;
}

.culture__details{
    width: 50%;
}

.culture__description{
    color: var(--white-color);
    font-size: var(--mediocre-font-size);
}

.culture:nth-child(2),
.culture:nth-child(4)
{
    flex-direction: row-reverse;
}


.culture:nth-child(2) .culture__details{
    text-align: right;
}

/*#endregion  */





/*#region   =======================    Hire Section    ====================== */

.hire__section{
    margin-top: 10rem;
    align-items: flex-start;
}

.hire__section .hero_circle{
    width: 15%;
    top: 20%;
    left: 35%;
    z-index: 5;
}

.hire__section .hero_ring{
    width: 15%;
    left: 80%;
    bottom: 15%;
    z-index: 10;
}

.hire__section .hero_comp{
    z-index: 10;
    width: 15%;
    transform: scaleX(1);
    left: -7%;
    top: -2%;
}

.hire__section .hero_cylinder{
    z-index: 10;
    width: 15%;
    transform: rotate(-35deg);
    bottom: 3%;
    left: 20%;
}

.hire__section .hero_cv{
    width: 15%;
    z-index: 10;
    right: -3%;
    top: -20%;
}

.hire__container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.hire__detail__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.hire__detail__wrapper i,
.hire__detail__wrapper p{
    color: var(--white-color);
    font-size: var(--mediocre-font-size);
}

.hire__detail__wrapper i{
    font-size: var(--medium-font-size);
}

.hire__social__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    color: var(--white-color);
}

.hire__social__wrapper h4{
    font-size: var(--medium-font-size);
}

.hire__socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: var(--medium-font-size);
}

.hire__socials i{
    cursor: pointer;
}

/*#endregion  */





/*#region   =======================     Blog Hero    ====================== */

  .blog__hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .blog__hero .slider-one .slider-one-image,
  .blog__hero .slider-one .slider-two-image,
  .blog__hero .slider-one .slider-three-image,
  .blog__hero .slider-one .slider-four-image,
  .blog__hero .slider-two .slider-one-image,
  .blog__hero .slider-two .slider-two-image,
  .blog__hero .slider-two .slider-three-image,
  .blog__hero .slider-two .slider-four-image,
  .blog__hero .slider-three .slider-one-image,
  .blog__hero .slider-three .slider-two-image,
  .blog__hero .slider-three .slider-three-image,
  .blog__hero .slider-three .slider-four-image,
  .blog__hero .slider-four .slider-one-image,
  .blog__hero .slider-four .slider-two-image,
  .blog__hero .slider-four .slider-three-image,
  .blog__hero .slider-four .slider-four-image {
    width: 110%;
    height: 100%;
    background-image: url("../assets/BlogHero/1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: zoom-out 3s linear infinite;
            animation: zoom-out 3s linear infinite;
  }
  
  .blog__hero  .slider-one .slider-one-image .slider-text,
  .blog__hero  .slider-one .slider-two-image .slider-text,
  .blog__hero  .slider-one .slider-three-image .slider-text,
  .blog__hero  .slider-one .slider-four-image .slider-text,
  .blog__hero  .slider-two .slider-one-image .slider-text,
  .blog__hero  .slider-two .slider-two-image .slider-text,
  .blog__hero  .slider-two .slider-three-image .slider-text,
  .blog__hero  .slider-two .slider-four-image .slider-text,
  .blog__hero  .slider-three .slider-one-image .slider-text,
  .blog__hero  .slider-three .slider-two-image .slider-text,
  .blog__hero  .slider-three .slider-three-image .slider-text,
  .blog__hero  .slider-three .slider-four-image .slider-text,
  .blog__hero  .slider-four .slider-one-image .slider-text,
  .blog__hero  .slider-four .slider-two-image .slider-text,
  .blog__hero  .slider-four .slider-three-image .slider-text,
  .blog__hero  .slider-four .slider-four-image .slider-text {
    position: absolute;
    top: 40%;
    left: 5%;
    color: #ffffff;
    width: 600px;
    text-transform: capitalize;
    -webkit-animation: text-up 12s linear infinite;
            animation: text-up 12s linear infinite;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  
  .blog__hero  .slider-one .slider-one-image .slider-text h1,
  .blog__hero  .slider-one .slider-two-image .slider-text h1,
  .blog__hero  .slider-one .slider-three-image .slider-text h1,
  .blog__hero  .slider-one .slider-four-image .slider-text h1,
  .blog__hero  .slider-two .slider-one-image .slider-text h1,
  .blog__hero  .slider-two .slider-two-image .slider-text h1,
  .blog__hero  .slider-two .slider-three-image .slider-text h1,
  .blog__hero  .slider-two .slider-four-image .slider-text h1,
  .blog__hero  .slider-three .slider-one-image .slider-text h1,
  .blog__hero  .slider-three .slider-two-image .slider-text h1,
  .blog__hero  .slider-three .slider-three-image .slider-text h1,
  .blog__hero  .slider-three .slider-four-image .slider-text h1,
  .blog__hero  .slider-four .slider-one-image .slider-text h1,
  .blog__hero  .slider-four .slider-two-image .slider-text h1,
  .blog__hero  .slider-four .slider-three-image .slider-text h1,
  .blog__hero  .slider-four .slider-four-image .slider-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .blog__hero .slider-one .slider-one-image .slider-text p,
  .blog__hero .slider-one .slider-two-image .slider-text p,
  .blog__hero .slider-one .slider-three-image .slider-text p,
  .blog__hero .slider-one .slider-four-image .slider-text p,
  .blog__hero .slider-two .slider-one-image .slider-text p,
  .blog__hero .slider-two .slider-two-image .slider-text p,
  .blog__hero .slider-two .slider-three-image .slider-text p,
  .blog__hero .slider-two .slider-four-image .slider-text p,
  .blog__hero .slider-three .slider-one-image .slider-text p,
  .blog__hero .slider-three .slider-two-image .slider-text p,
  .blog__hero .slider-three .slider-three-image .slider-text p,
  .blog__hero .slider-three .slider-four-image .slider-text p,
  .blog__hero .slider-four .slider-one-image .slider-text p,
  .blog__hero .slider-four .slider-two-image .slider-text p,
  .blog__hero .slider-four .slider-three-image .slider-text p,
  .blog__hero .slider-four .slider-four-image .slider-text p {
    font-size: 18px;
    line-height: 28px;
  }
  
  .blog__hero .slider-two {
    -webkit-animation: slider-two 12s linear infinite;
            animation: slider-two 12s linear infinite;
  }
  
  .blog__hero .slider-two .slider-two-image {
    background-image: url("../assets/BlogHero/2.png");
  }
  
  .blog__hero .slider-two .slider-two-image .slider-text {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  
  .blog__hero .slider-three {
    -webkit-animation: slider-three 12s linear infinite;
            animation: slider-three 12s linear infinite;
  }
  
  .blog__hero .slider-three .slider-three-image {
    background-image: url("../assets/BlogHero/3.png");
  }
  
  .blog__hero .slider-three .slider-three-image .slider-text {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  
  .blog__hero .slider-four {
    -webkit-animation: slider-four 12s linear infinite;
            animation: slider-four 12s linear infinite;
  }
  
  .blog__hero .slider-four .slider-four-image {
    background-image: url("../assets/BlogHero/4.png");
  }
  
  .blog__hero .slider-four .slider-four-image .slider-text {
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  
  @-webkit-keyframes text-up {
    10% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @keyframes text-up {
    10% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @-webkit-keyframes zoom-out {
    100% {
      width: 100%;
    }
  }
  
  @keyframes zoom-out {
    100% {
      width: 100%;
    }
  }
  
  @-webkit-keyframes slider-one {
    0% {
      visibility: visible;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes slider-one {
    0% {
      visibility: visible;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  @-webkit-keyframes slider-two {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: visible;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
    }
  }
  
  @keyframes slider-two {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: visible;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes slider-three {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
  
  @keyframes slider-three {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes slider-four {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes slider-four {
    0% {
      visibility: hidden;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    75% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  .hero__blog__button{
    border: 3px solid var(--white-color);
    padding: 1rem 2rem;
    transition: all 300ms ease-in-out;
  }

  .hero__blog__button:hover{
    background-color: var(--white-color);
    color: var(--text-color);
  }
  

/*#endregion  */





/*#region   =======================     Blog Main    ====================== */

.blog__main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 4rem;
    gap: 3rem;
}

.blog__main__left{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.blog__main__right{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.updates{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.update{
    display: flex;
    width: 100%;
    gap: 1.3rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--white-color);
}

.update img{
    width: 30%;
}

.update p{
    color: var(--white-color);
    font-size: var(--normal-font-size);
    font-weight: 300;
    text-align: left;
}

.blog__main__left__see__all{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blog__main__posts{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    flex-direction: column;
}

.blog__main__post{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--white-color);
    margin-bottom: 2rem;
}

.profile__section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.profile__section .img__section{
    width: 40%;
}

.profile__section .img__section img{
    width: 100%;
}

.profile__details{
    width: 100%;
}

.profile__details h5{
    font-size: var(--mediocre-font-size);
}

.profile__details p{
    font-style: italic;
}

.blog__main__post__desc{
    font-weight: 200;
    font-size: var(--normal-font-size);
    line-height: var(--mediocre-font-size);
}

.blog__main__post__img{
    width: 100%;
}



/*#endregion  */





/*#region   =======================     Service Hero    ====================== */

.service__hero{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/Backgrounds/Rectangle\ 1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9rem;
    /* gap: 4rem; */
}

.service__hero__left{
    width: 50%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2rem;
    /* margin-left: 12rem; */
}

.service__hero__left p{
    font-size: var(--mediocre-font-size);
}

.service__hero__left a{
    background-color: var(--white-color);
    color: var(--text-color);
    font-weight: 700;
    padding: 1rem 2.5rem;
    border-radius: 6px;
    transition: all 300ms ease;
}

.service__hero__left a:hover{
    background-color: whitesmoke;
}

.service__hero__img{
    width: 50%;
}

.service__hero__img img{
    width: 100%;
    transform: scale(1.6);
    margin-bottom: -3.8rem;
    margin-left: -7rem;
}

/*#endregion  */





/*#region   =======================    Service Last     ====================== */

.service__last{
    background-image: url("../assets/Backgrounds/Our\ Team\ Bg.png");
    padding: 4rem 18rem;
    border-radius: 1rem;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}


.service__last p{
    font-size: var(--mediocre-font-size);
    text-align: center;
}

/*#endregion  */





/*#region   =======================     Service Culture    ====================== */

.culture__btn{
    border: 2px solid var(--white-color);
    padding: 1rem 2.5rem;
    margin-top: 5rem;
    transition: all 300ms ease;
}

.culture__btn:hover{
    background-color: var(--white-color);
    color: var(--text-color);
}

/*#endregion  */





/*#region   =======================     One Service Hero    ====================== */

.one__service__hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Backgrounds/Rectangle\ 1.png");
    background-size: cover;
    color: var(--white-color);
    gap: 2rem;
}

.one__service__hero__description{
    width: 60%;
    font-size: var(--mediocre-font-size);
    text-align: center;
}

.one__service__hero__btn{
    background-color: var(--white-color);
    color: var(--text-color);
    font-weight: 500;
    font-size: var(--normal-font-size);
    padding: 1rem 2.5rem;
    border-radius: 8px;
    transition: all 300ms ease;
}

.one__service__hero__btn:hover{
    background-color: whitesmoke;
}


/*#endregion  */





/*#region   =======================     Approach Section    ====================== */

.approach__section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6rem;
    color: var(--white-color);
    gap: 1rem;
}

.approach_desc{
    font-size: var(--mediocre-font-size);
    font-weight: 300;
    word-spacing: 5px;
    margin-bottom: 2rem;
}

.steps{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.step{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.timeliner{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.timeliner span{
    border: 4px solid var(--white-color);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background: var(--card-gradient);
}

.liner{
    /* border: 2px solid red; */
    width: 2px;
    padding-bottom: calc(100% + 50%);
    background-color: var(--white-color);
}

.approach__details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 4px solid var(--white-color);
    margin-left: -6.8rem;
    z-index: -1;
    padding-left: 4rem;
}

.approach__details p{
    font-size: var(--mediocre-font-size);
    word-spacing: 5px;
    padding-bottom: 3rem;
}

/*#endregion  */





/*#region   =======================     Classes    ====================== */



/*#endregion  */